[submodule "flinke2c"]
	path = flinke2c
	url = https://github.com/maxhuettner/flinke2c.git
	branch = flinke2c
[submodule "streaming_tcp_harness"]
	path = streaming_tcp_harness
	url = https://github.com/maxhuettner/streaming_tcp_harness.git
[submodule "flinke2c_experiment_scripts"]
	path = flinke2c_experiment_scripts
	url = https://github.com/maxhuettner/flinke2c_experiment_scripts.git
[submodule "network_sim"]
	path = network_sim
	url = https://github.com/maxhuettner/network_sim.git
[submodule "flinke2c_runtime"]
	path = flinke2c_runtime
	url = https://github.com/maxhuettner/flinke2c-runtime.git
[submodule "streaming_exp_management"]
	path = streaming_exp_management
	url = https://github.com/maxhuettner/streaming-exp-management.git
